* {
    box-sizing: border-box;
}

.wrapper {
    width: 266px;
    /* height: 300px; */
    background: white;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
    width: 100%;
    height: 100%;
}

.wrapper .container .top {
    height: auto;
    width: 100%;
    /* background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3….jpg) no-repeat center center; */
    background-size: 100%;
}

.wrapper .container .bottom {
    width: 200%;
    height: 30%;
    transition: transform 0.5s;
}

.wrapper .container .bottom.clicked {
    transform: translateX(-50%);
}

.wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-size: 16px;
    width: 140%;
}

.details span {}

.wrapper .container .bottom p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.wrapper .container .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}

.wrapper .container .bottom .left .details {
    /* padding: 20px; */
    padding-left: 5px;
    float: left;
    width: calc(70% - 40px);
}

.wrapper .container .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;

    border-left: solid thin rgba(0, 0, 0, 0.1);
}

.wrapper .container .bottom .left .buy i {
    margin-top: 30%;
    margin-left: 20%;
    font-size: 25px;
    color: #254053;
    transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover {
    background: #a6cdde;
}

.wrapper .container .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394b;
}

.wrapper .container .bottom .right {
    width: 50%;
    background: #a6cdde;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
}

.wrapper .container .bottom .right .details {

    float: right;

    padding-right: 10px;
    top: 7px;
    position: relative;
    font-size: 20px !important;


}

.wrapper .container .bottom .right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
}

.wrapper .container .bottom .right .done i {
    margin-top: 30%;
    margin-left: 20%;
    font-size: 25px;
    color: white;
}

.wrapper .container .bottom .right .remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
    background: #bc3b59;
    transition: transform 0.5s, background 0.5s;
    border-top-right-radius: 20px;
}

.wrapper .container .bottom .right .remove:hover {
    background: #9b2847;
}

.wrapper .container .bottom .right .remove:hover i {
    transform: translateY(3px);
}

.wrapper .container .bottom .right .remove i {
    transition: transform 0.5s;
    margin-top: 30%;
    margin-left: 30%;
    font-size: 25px;
    color: white;
}

.wrapper .container .bottom .right:hover .remove,
.wrapper .container .bottom .right:hover .done {
    transform: translateY(-100%);
}

.wrapper .inside {
    z-index: 9;
    background: #92879b;
    width: 116px;
    height: 127px;
    position: absolute;
    top: -87px;
    right: -79px;
    border-radius: 0px 0px 700px 400px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}

.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
}

.wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
}

.wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}

.wrapper .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}

.wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.4s;
}

.wrapper .inside .contents table {
    text-align: left;
    width: 100%;
}

.wrapper .inside .contents tr {
    padding: 0;

}

.wrapper .inside .contents tr {
    padding-left: 5px;
    vertical-align: top;
}

.wrapper .inside .contents h1,
.wrapper .inside .contents p,
.wrapper .inside .contents table {
    color: white;
    font-size: 10px;

}

.wrapper .inside .contents p {
    font-size: 13px;
}

.details>h1 {
    font-size: 2vw;
}

.cellPhoneCard .container {
    padding: 0;
}

.cellPhoneCard {
    background-color: rgb(255, 255, 255);
}

.see_infor_product {
    position: relative;
    margin-left: -1px;
    margin-top: 10px;
}

.img_product_mini img {
    width: 100%;
    height: 100%;
    background-color: rgb(217, 217, 216);
    min-height: 256px;
    object-fit: cover; /* hoặc fill */
}

.price {
    font-size: 10px;
    color: red;
    display: flex;
}

.price .price_of_product {
    text-decoration: line-through;
    color: black;

}

.price i {
    padding: 4px;
}

.container_discount {
    background-color: red;
    border-radius: 3px;
    padding: 2px;
    font-size: 10px;
    color: yellow;

}